<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>
    <script type="text/javascript">LatexIT.add('p',true);</script>
    <meta charset="UTF-8">
    <title>Коллекция математических задач</title>
</head>
<body>
    <h1>Задачи</h1>
    {% if not problems %}
    <p>К сожалению, нам не удалось найти для Вас подходящих задач :(</p>
    {% endif %}
    <hr>
    {% for problem in problems %}
    <p>Теги:
        {% for tag in problem.tags %}
        <span style="font-size: large; color: {{colors[tag]}}; "><b>{{tag}} </b></span>
        {% endfor %}
        сложность: <span style="color:{{colors[problem.complexity]}}"><b>{{problem.complexity}}</b></span>
        <br>
        <span style="font-size: large; ">{{problem.text}}</span>
    </p>
    <hr>
    {% endfor %}
</body>
</html>